# Telegram App (for TDLib user)
APP_ID=29960871
APP_HASH=d00a58893f62b37639c687fad05c805c

# Bot token
BOT_TOKEN=2037175861:AAEqKQ8KpuEzjDlk6uN0ppq-XJaJJf83O30

# Chat / Channel ID to search (e.g., -1001234567890)
SEARCH_CHAT_ID=-1002926748168

# TDLib DB directory (persist this volume)
TDLIB_DB_DIR=/data/tdlib-db
